<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Users - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Users</h2>
        <th:block th:replace="fragments::export('users')"/>
        <th:block th:replace="partial/messages::messages"/>
        <th:block th:replace="partial/form::form_search('users')"/>
        <div class="full-details">
            <table class="table table-responsive-xl table-hover table-bordered table-striped">
                <thead class="table-dark text-center">
                <th th:replace="fragments::column_link('users', 'id', 'User ID', true)"></th>
                <th>Photos</th>
                <th th:replace="fragments::column_link('users', 'email', 'Email', true)"></th>
                <th th:replace="fragments::column_link('users', 'firstName', 'First Name', false)"></th>
                <th th:replace="fragments::column_link('users', 'lastName', 'Last Name', false)"></th>
                <th>Roles</th>
                <th th:replace="fragments::column_link('users', 'enabled', 'Enabled', false)"></th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td class="text-center hideable-column">[[${user.id}]]</td>
                    <td class="text-center">
                        <i class="fa fa-user fa-2x" th:unless="${user.photos}"></i>
                        <img class="img-fluid" style="width: 100px" th:alt="${user.photos}" th:if="${user.photos}"
                             th:src="@{${user.photosImagePath}}">
                    </td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td class="text-center">
                        <a class="btn btn-primary text-center" th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                           th:if="${user.enabled}"
                           title="Disable this user"
                        >
                            <i class="fa fa-check-circle"></i>
                        </a>
                        <a class="btn btn-secondary text-center" th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                           th:unless="${user.enabled}"
                           title="Enable this user"
                        >
                            <i class="fa fa-circle"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success text-center" th:href="@{/users/edit/} + ${user.id}"
                           title="Edit this user">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-center link-delete"
                           th:href="@{/users/delete/} + ${user.id}"
                           th:data-entity="user"
                           th:data-id="${user.id}"
                           title="Delete this user">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="less-details">
            <div class="row mb-3" th:each="user:${users}">
                <div class="col-4">
                    <i class="fa fa-user fa-2x" th:unless="${user.photos}"></i>
                    <img class="img-fluid" style="width: 100px" th:alt="${user.photos}" th:if="${user.photos}"
                         th:src="@{${user.photosImagePath}}">
                </div>
                <div class="col-8">
                    <div>
                        <h3>[[${user.fullName}]]</h3>
                    </div>
                    <div>
                        <i>[[${user.roles}]]</i>
                    </div>
                    <div class="mt-1">
                        <a class="btn btn-primary text-center" th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                           th:if="${user.enabled}"
                           title="Disable this user"
                        >
                            <i class="fa fa-check-circle"></i>
                        </a>
                        <a class="btn btn-secondary text-center" th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                           th:unless="${user.enabled}"
                           title="Enable this user"
                        >
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="btn btn-success text-center" th:href="@{/users/edit/} + ${user.id}"
                           title="Edit this user">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-center link-delete"
                           th:href="@{/users/delete/} + ${user.id}"
                           th:data-entity="user"
                           th:data-id="${user.id}"
                           title="Delete this user">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="partial/pagination :: page_pagination('users')"/>
    </div>
    <div th:replace="partial/modal :: modal_confirm_delete"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
</body>
<div th:replace="partial/footer :: script"></div>
<script th:src="@{/js/common_list.js}"></script>
</html>