<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Users - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Users</h2>
        <th:block th:replace="fragments::new"/>
        <th:block th:replace="fragments::export"/>
        <th:block th:replace="partial/messages::messages"/>
        <th:block th:replace="partial/form::form_search"/>
        <div class="full-details">
            <table class="table table-responsive-xl table-hover table-bordered table-striped">
                <thead class="table-dark text-center">
                <th th:replace="fragments::column_link('id', 'User ID', true)"></th>
                <th>Photos</th>
                <th th:replace="fragments::column_link('email', 'Email', true)"></th>
                <th th:replace="fragments::column_link('firstName', 'First Name', false)"></th>
                <th th:replace="fragments::column_link('lastName', 'Last Name', false)"></th>
                <th>Roles</th>
                <th th:replace="fragments::column_link('enabled', 'Enabled', false)"></th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td class="text-center hideable-column">[[${user.id}]]</td>
                    <td class="text-center">
                        <i class="fa fa-user fa-2x" th:unless="${user.photos}"></i>
                        <img class="img-fluid" style="width: 100px" th:alt="${user.photos}" th:if="${user.photos}"
                             th:src="@{${user.photosImagePath}}">
                    </td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td class="text-center">
                        <a th:replace="fragments::status(${user.id}, 'user', ${user.enabled})"></a>
                    </td>
                    <td class="text-center">
                        <a th:replace="fragments::edit(${user.id}, 'user')"></a>
                        <a th:replace="fragments::delete(${user.id}, 'user', true)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="less-details">
            <div class="row mb-3" th:each="user:${users}">
                <div class="col-4">
                    <i class="fa fa-user fa-2x" th:unless="${user.photos}"></i>
                    <img class="img-fluid" style="width: 100px" th:alt="${user.photos}" th:if="${user.photos}"
                         th:src="@{${user.photosImagePath}}">
                </div>
                <div class="col-8">
                    <div>
                        <h3>[[${user.fullName}]]</h3>
                    </div>
                    <div>
                        <i>[[${user.roles}]]</i>
                    </div>
                    <div class="mt-1">
                        <a th:replace="fragments::status(${user.id}, 'user', ${user.enabled})"></a>
                        <a th:replace="fragments::edit(${user.id}, 'user')"></a>
                        <a th:replace="fragments::delete(${user.id}, 'user', true)"></a>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="partial/pagination :: page_pagination('users')"/>
    </div>
    <div th:replace="partial/modal :: modal_confirm_delete"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
</body>
<div th:replace="partial/footer :: script"></div>
<script th:src="@{/js/common_list.js}"></script>
</html>