<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Users | <span th:text="${pageTitle}">Create new user</span></h2>
        <form class="m-auto" enctype="multipart/form-data" id="formUser" method="post" style="max-width: 750px"
              th:action="@{/users/save}" th:object="${user}">
            <input th:field="*{id}" type="hidden">
            <div class="border border-success rounded p-3">
                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Email:</div>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="128" minlength="8"
                               required th:field="*{email}" type="email">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">First Name:</div>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="45" minlength="2"
                               required th:field="*{firstName}" type="text">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Last Name:</div>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="45" minlength="2"
                               required th:field="*{lastName}" type="text">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Password:</div>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="20"
                               minlength="8" placeholder="Place empty if you don't want to change password"
                               th:field="*{password}" th:if="${user.id}" type="password">
                        <input class="form-control" maxlength="20" minlength="8" required
                               th:field="*{password}" th:unless="${user.id}" type="password">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Roles:</div>
                    <div class="col-sm-8">
                        <th:block th:each="role:${roles}">
                            <label>
                                <input class="m-2" th:field="*{roles}" th:text="${role.name}"
                                       th:value="${role.id}" type="checkbox"/>
                                - <small>[[${role.description}]]</small>
                            </label>

                            <br>
                        </th:block>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Enabled:</div>
                    <div class="col-sm-8">
                        <input class="form-check" th:field="*{enabled}" type="checkbox"/>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Photos:</div>
                    <div class="col-sm-8">
                        <input th:field="*{photos}" type="hidden">
                        <input accept="image/png, image/jpg" class="form-file" id="fileImage" name="image" type="file"/>
                        <img alt="Photos preview" class="img-fluid" id="thumbnail" th:src="@{${user.photosImagePath}}"/>
                    </div>
                </div>


                <div class="text-center mt-4">
                    <button class="btn btn-primary m-3" id="btnSubmit" type="submit">Save</button>
                    <button class="btn btn-secondary" id="btnCancel" type="button">Cancel</button>
                </div>
            </div>
        </form>
        <div th:replace="partial/modal :: modal_form"></div>
    </div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
<script>
    moduleURL = '[[@{/users}]]';
    $(function () {
        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            const form = $("#formUser")[0];

            if (form.checkValidity()) {
                const params = {
                    id: $('#id').val(),
                    email: $('#email').val()
                }
                $.post(`${moduleURL}/check_email`, params)
                    .done(function (data) {
                        if (data) {
                            form.submit();
                        } else {
                            showModal('Warning', `There are another user with email ${params.email}`);
                        }
                    })
                    .fail(function (e) {
                        showModal('Error', 'Service unavailable');
                        console.log(e);
                    });
            } else {
                form.reportValidity();
            }
        });
    })
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>