<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Homepage - Shopme')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div>
        <h1>Shopping by Categories</h1>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-sm-2 mt-3" th:each="cat : ${categories}">
            <div class="card h-100">
                <a class="text-decoration-none text-center" th:href="@{'/c/' + ${cat.alias}}">
                    <img class="card-img-top w-75" th:alt="@{${cat.imagePath}}" th:src="@{${cat.imagePath}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a class="text-decoration-none" th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
</body>
</html>