<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Homepage - Shopme')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div>
        <h1>Shopping by Categories</h1>
    </div>
    <div class="row">
        <div class="col" th:each="cat : ${categories}">
            <div><img th:src="@{${cat.imagePath}}" width="80"/></div>
            <div>
                <a class="text-decoration-none" th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
            </div>
        </div>
    </div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
</body>
</html>