<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="row text-center m-2">
        <h2>Customer Verification</h2>
        <h4>Congratulations! Your account has been verified.</h4>
        <p><a th:href="@{/login}">Login Now</a></p>
    </div>
    <div th:replace="partial/modal :: modal_form"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
</body>
</html>