<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">E-mail Subject:</label>
        <div class="col-sm-10">
            <input class="form-control" name="CUSTOMER_FORGOT_PASSWORD_SUBJECT" required
                   th:value="${CUSTOMER_FORGOT_PASSWORD_SUBJECT}" type="text"/>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">E-mail Content:</label>
        <div class="col-sm-10">
            <textarea id="customerForgotPasswordContent" name="CUSTOMER_FORGOT_PASSWORD_CONTENT" rows="5">[[${CUSTOMER_FORGOT_PASSWORD_CONTENT}]]</textarea>
        </div>
    </div>
</div>
</body>
</html>