<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="mb-3 row" id="productImages">
        <div class="col border m-2">
            <label>Main image: </label><br>
            <img alt="Main image preview" class="img-fluid" id="thumbnail" th:src="@{${product.mainImagePath}}"><br>
            <input accept="image/*" class="form-file m-2" id="fileImage" name="fileImage" type="file"/> <br>
            <input th:field="*{mainImage}" type="hidden">
        </div>
        <th:block th:each="productImages : ${product.images}">
            <div class="col border m-2 extra-image">
                <label>Extra image:</label>
                <button class="btn fas fa-times-circle fa-2x text-danger"
                        onclick="removeExtraImage(this)"
                        title="Delete this image"></button>
                <img alt="Extra image preview" class="img-fluid" th:src="@{${productImages.imagePath}}"><br>
                <input accept="image/*" class="form-file m-2" name="extraImage" type="file"/>
                <input name="imageIDs" th:value="${productImages.id}" type="hidden"/>
                <input name="imageNames" th:value="${productImages.name}" type="hidden"/>
            </div>
        </th:block>
        <div class="col border m-2 extra-image">
            <label>Extra image: </label><br>
            <img alt="Extra image preview" class="img-fluid" th:src="@{/images/image-thumbnail.png}"><br>
            <input accept="image/*" class="form-file m-2" name="extraImage" type="file"/>
        </div>

    </div>
</div>
</body>
</html>