<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div id="productDetails">
        <div class="mb-3 row detail-item" id="detailItem0">
            <div class="col-sm-1 col-form-label">Name:</div>
            <div class="col-sm-4">
                <input class="form-control" maxlength="256" name="detailNames" required type="text">
            </div>
            <div class="col-sm-1 col-form-label">Value:</div>
            <div class="col-sm-5">
                <input class="form-control" maxlength="256" name="detailValues" required type="text">
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <button class="btn btn-secondary" id="btnAddDetails" type="button">Add more details</button>
        </div>
    </div>
</div>
</body>
</html>