<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Name:</div>
        <div class="col-sm-10">
            <input class="form-control" minlength="3" maxlength="256"
                   required th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"
                   th:field="*{name}"
                   type="text"
            >
        </div>

    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Alias:</div>
        <div class="col-sm-10">
            <input class="form-control" minlength="3" maxlength="256"
                   placeholder="Default is product name (replace spaces with dashes)"
                   th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}" th:field="*{alias}"
                   type="text"
            >
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Brand:</div>
        <div class="col-sm-10">
            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                <select class="form-select" required th:field="*{brand}">
                    <th:block th:each="brand:${brands}">
                        <option th:text="${brand.name}" th:value="${brand.id}"></option>
                    </th:block>
                </select>
            </th:block>
            <th:block sec:authorize="hasAuthority('Salesperson')">
                <input class="form-control" disabled maxlength="256"
                       minlength="3" required th:field="*{brand.name}"
                       type="text"
                >
            </th:block>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Category:</div>
        <div class="col-sm-10">
            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                <select class="form-select" required th:field="*{category}" th:if="${product.category != null}">
                    <th:block th:each="category:${product.brand.categories}">
                        <option th:text="${category.name}" th:value="${category.id}"></option>
                    </th:block>
                </select>
                <select class="form-select" required th:field="*{category}" th:if="${product.category == null}">
                </select>
            </th:block>
            <th:block sec:authorize="hasAuthority('Salesperson')">
                <input class="form-control" disabled maxlength="256"
                       minlength="3" required th:field="*{category.name}"
                       type="text"
                >
            </th:block>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Enabled:</div>
        <div class="col-sm-10">
            <input class="form-check" th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"
                   th:field="*{enabled}"
                   type="checkbox"
            />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">In Stock:</div>
        <div class="col-sm-10">
            <input class="form-check" th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"
                   th:field="*{inStock}"
                   type="checkbox"
            />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Cost:</div>
        <div class="col-sm-10">
            <input class="form-control" required step="0.01" th:field="*{cost}" type="number">
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Price:</div>
        <div class="col-sm-10">
            <input class="form-control" required step="0.01" th:field="*{price}" type="number">
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Discount:</div>
        <div class="col-sm-10">
            <input class="form-control" required step="0.01" th:field="*{discountPercent}" type="number">
        </div>
    </div>
</div>
</body>
</html>