<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div class="modal-header">
    <h5 class="modal-title" id="modalTitle">Product details</h5>
    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-target="#overview" data-bs-toggle="tab" role="tab"
                    type="button">Overview
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-target="#description" data-bs-toggle="tab" role="tab"
                    type="button">Description
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-target="#images" data-bs-toggle="tab" role="tab"
                    type="button">Images
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-target="#details" data-bs-toggle="tab" role="tab"
                    type="button">Details
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-target="#shipping" data-bs-toggle="tab" role="tab"
                    type="button">Shipping
            </button>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content p-3">
        <div class="tab-pane active" id="overview" role="tabpanel">
            <div th:replace="product/product_overview_readonly :: content"></div>
        </div>
        <div class="tab-pane" id="description" role="tabpanel">
            <div th:replace="product/product_description_readonly :: content"></div>
        </div>
        <div class="tab-pane" id="images" role="tabpanel">
            <div th:replace="product/product_images_readonly :: content"></div>
        </div>
        <div class="tab-pane" id="details" role="tabpanel">
            <div th:replace="product/product_details_readonly :: content"></div>
        </div>
        <div class="tab-pane" id="shipping" role="tabpanel">
            <div th:replace="product/product_shipping_readonly :: content"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
</div>
</body>
</html>