<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Products - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Product</h2>
        <th:block th:replace="fragments::export(${module})"/>
        <th:block th:replace="partial/messages::messages"/>
        <th:block th:replace="partial/form::form_search(${module})"/>
        <div class="full-details">
            <table class="table table-responsive-xl table-hover table-bordered table-striped">
                <thead class="table-dark text-center">
                <th th:replace="fragments::column_link(${module}, 'id', 'ID', true)"></th>
                <th>Image</th>
                <th th:replace="fragments::column_link(${module}, 'name', 'Name', false)"></th>
                <th th:replace="fragments::column_link(${module}, 'category', 'Category', false)"></th>
                <th th:replace="fragments::column_link(${module}, 'enabled', 'Enabled', false)">Enable</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr th:each="product:${products}">
                    <td class="text-center hideable-column">[[${product.id}]]</td>
                    <td class="text-center">
                        <img class="img-fluid" style="width: 100px" th:src="@{${product.mainImagePath}}">
                    </td>
                    <td width="50%">
                        <a class="detail-link"
                           th:href="@{ '/' + ${module} + '/detail/' + ${product.id} }"
                           title="See detail product"
                        >
                            [[${product.name}]]
                        </a>
                    </td>
                    <td>[[${product.category.name}]]</td>
                    <td class="text-center">
                        <a th:replace="fragments::status(${module}, ${product.id}, 'product', ${product.enabled})"></a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-info text-center detail-link"
                           th:href="@{ '/' + ${module} + '/detail/' + ${product.id} }"
                           title="See detail product"
                        >
                            <i class="fa fa-file-alt"></i>
                        </a>
                        <a th:replace="fragments::edit(${module}, ${product.id}, 'product')"></a>
                        <a th:replace="fragments::delete(${module}, ${product.id}, 'product', true)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="less-details">
            <div class="row mb-3" th:each="product:${products}">
                <div class="col-4">
                    <!--                    <i class="fa fa-user fa-2x" th:unless="${product.logo}"></i>-->
                    <!--                    <img class="img-fluid" style="width: 100px" th:alt="${product.logo}" th:if="${product.logo}"-->
                    <!--                         th:src="@{${product.logoPath}}">-->
                </div>
                <div class="col-8">
                    <div>
                        <h3>[[${product.name}]]</h3>
                    </div>
                    <td class="text-center">
                        <a th:replace="fragments::status(${module}, ${product.id}, 'product', ${product.enabled})"></a>
                    </td>
                    <div class="mt-1">
                        <a th:replace="fragments::edit(${module}, ${product.id}, 'product')"></a>
                        <a th:replace="fragments::delete(${module}, ${product.id}, 'product', true)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="partial/pagination :: page_pagination(${module}, ${module})"/>
    <div th:replace="partial/modal :: modal_confirm_delete"></div>
    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <div th:replace="partial/footer :: footer"></div>
</div>
</body>
<div th:replace="partial/footer :: script"></div>
<script th:src="@{/js/common_list.js}"></script>
<script>
    $(function () {
        $('.detail-link').click(function (e) {
            e.preventDefault();
            const url = $(this).attr('href');
            $('#detailModal').modal('show')
                .find('.modal-content')
                .load(url);
        })
    });
</script>
</html>