<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="mb-3 row" id="productImages">
        <div class="col border m-2">
            <div>
                <label>Main image: </label>
            </div>
            <div>
                <img alt="Main image preview" class="img-fluid" id="thumbnail" th:src="@{${product.mainImagePath}}">
            </div>
            <div class="mt-1 p-3">
                <input accept="image/*" class="form-file" id="fileImage" name="fileImage"
                       type="file"/>
            </div>
        </div>
        <div class="col border m-2" id="extraImageSection0">
            <div id="extraImageHeader0">
                <label>Extra image #1: </label>
            </div>
            <div>
                <img alt="Extra image #1 preview" class="img-fluid" id="extraThumbnail0"
                     th:src="@{/images/image-thumbnail.png}">
            </div>
            <div class="mt-1 p-3">
                <input accept="image/*" class="form-file" id="extraImage0" name="extraImage" type="file"/>
            </div>
        </div>

    </div>
</div>
</body>
</html>