<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Short Description:</div>
        <div class="col-sm-10">
            <div class="p-2 border" th:utext="${product.shortDescription}">
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Full Description:</div>
        <div class="col-sm-10">
            <div class="p-2 border" th:utext="${product.fullDescription}">
            </div>
        </div>
    </div>
</div>
</body>
</html>