<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Products - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Product</h2>
        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')" th:replace="fragments::new"/>
        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')" th:replace="fragments::export"/>
        <th:block th:replace="partial/messages::messages"/>
        <!--        <th:block th:replace="partial/form::form_search"/>-->
        <form class="m-2 row g-3 align-items-center" id="formSearch"
              th:action="@{${moduleURL} + '/page/1'}">
            <input name="sortField" th:value="${sortField}" type="hidden">
            <input name="sortType" th:value="${sortType}" type="hidden">
            <div class="col-auto">
                <label class="col-form-label">Category:</label>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="categorySelect" name="categoryId">
                    <option value="-1">All Categories</option>
                    <th:block th:each="category : ${categories}">
                        <option th:selected="${category.id == categoryId}" th:value="${category.id}">
                            [[${category.name}]]
                        </option>
                    </th:block>
                </select>
            </div>
            <div class="col-auto">
                <label class="col-form-label">Filter:</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="keyword" required th:value="${keyword}" type="search">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" value="Search">
                    <i class=" fa fa-search"></i>
                </button>
            </div>
            <div class="col-auto">
                <a th:href="@{${moduleURL} }">
                    <button class="btn btn-secondary" type="button" value="Clear">
                        <i class="fa fa-eraser"></i>
                    </button>
                </a>
            </div>
        </form>
        <div class="full-details">
            <table class="table table-responsive-xl table-hover table-bordered table-striped">
                <thead class="table-dark text-center">
                <th th:replace="fragments::column_link('id', 'ID', true)"></th>
                <th>Image</th>
                <th th:replace="fragments::column_link('name', 'Name', false)"></th>
                <th th:replace="fragments::column_link('brand.name', 'Brand', false)"></th>
                <th th:replace="fragments::column_link('category.name', 'Category', false)"></th>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <th th:replace="fragments::column_link('enabled', 'Enabled', false)">Enable</th>
                </th:block>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr th:each="product:${products}">
                    <td class="text-center hideable-column">[[${product.id}]]</td>
                    <td class="text-center">
                        <img class="img-fluid" style="width: 100px" th:src="@{${product.mainImagePath}}">
                    </td>
                    <td width="50%">
                        <a class="detail-link"
                           th:href="@{ ${moduleURL} + '/detail/' + ${product.id} }"
                           th:title="${product.name}"
                        >
                            [[${product.shortName}]]
                        </a>
                    </td>
                    <td>[[${product.brand.name}]]</td>
                    <td>[[${product.category.name}]]</td>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <td class="text-center">
                            <a th:replace="fragments::status(${product.id}, 'product', ${product.enabled})"></a>
                        </td>
                    </th:block>
                    <td class="text-center">
                        <a th:replace="fragments::detail(${product.id}, 'product')"></a>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                            <a th:replace="fragments::edit(${product.id}, 'product')"></a>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <a th:replace="fragments::delete(${product.id}, 'product', true)"></a>
                        </th:block>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="less-details">
            <div class="row mb-3" th:each="product:${products}">
                <div class="col-4">
                    <i class="fa fa-user fa-2x" th:unless="${product.mainImage}"></i>
                    <img class="img-fluid" style="width: 100px" th:alt="${product.mainImage}"
                         th:if="${product.mainImage}"
                         th:src="@{${product.mainImagePath}}">
                </div>
                <div class="col-8">
                    <div>
                        <h3><a class="detail-link"
                               th:href="@{ ${moduleURL} + '/detail/' + ${product.id} }"
                               th:title="${product.name}"
                        >
                            [[${product.shortName}]]
                        </a></h3>
                    </div>
                    <div class="mt-1">
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <a th:replace="fragments::status(${product.id}, 'product', ${product.enabled})"></a>
                        </th:block>
                        <a class="btn btn-info text-center detail-link"
                           th:href="@{ ${moduleURL} + '/detail/' + ${product.id} }"
                           title="See detail product"
                        >
                            <i class="fa fa-file-alt"></i>
                        </a>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                            <a th:replace="fragments::edit(${product.id}, 'product')"></a>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <a th:replace="fragments::delete(${product.id}, 'product', true)"></a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="partial/pagination :: page_pagination('products')"/>
    <div th:replace="partial/modal :: modal_confirm_delete"></div>
    <div th:replace="partial/modal :: modal_detail"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
</body>
<div th:replace="partial/footer :: script"></div>
<script th:src="@{/js/common_list.js}"></script>
<script>
    $(function () {
        $('.detail-link').click(function (e) {
            e.preventDefault();
            const url = $(this).attr('href');
            $('#detailModal').modal('show')
                .find('.modal-content')
                .load(url);
        });
        $('#categorySelect').change(function () {
            $('#formSearch').submit();
        });
    });
</script>
</html>