<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<th th:class="${hiddenMedium ? 'hideable-column' : ''}" th:fragment="column_link(module, fieldName, fieldLabel, hiddenMedium)">
    <a class="text-white text-decoration-none"
       th:href="@{'/' + ${module} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortType=' + ${sortField != fieldName ? sortType : sortTypeReverse} + ${keyword != null ? '&keyword=' + keyword : ''} }"
       th:text="${fieldLabel}"
       title="Sort this column"></a>
    <i th:class="${sortType == 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}" th:if="${sortField == fieldName}"></i>
</th>
<a class="page-link" th:fragment="page_link(module, page, label)"
   th:href="@{'/' + ${module} + '/page/' + ${page} + '?sortField=' + ${sortField} + '&sortType=' + ${sortType} + ${keyword != null ? '&keyword=' + keyword : ''} }"
   th:text="${label}"></a>
<div class="modal fade text-center" id="modalDialog" th:fragment="modal_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>