<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Homepage - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Shopme Admin control panel</h2>
        <div class="m-2">
            <span>Welcome</span>
            <a class="text-decoration-none" sec:authentication="principal.fullName" th:href="@{/account}"></a>
            <span sec:authentication="principal.authorities"></span>
        </div>
    </div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
</body>
</html>