<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div class="col-sm-3 mt-2" th:fragment="content">
    <div class="card mx-1 h-100">
        <a class="text-center" th:href="@{'/p/' + ${product.alias}}">
            <img class="card-img-top w-75" th:alt="${product.mainImage}" th:src="@{${product.mainImagePath}}">
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <a th:href="@{'/p/' + ${product.alias}}">[[${product.shortName}]]</a>
            </h5>
            <p class="card-text" th:if="${product.discountPercent <= 0}">
                <span>$ [[${product.price}]]</span>
            </p>
            <p class="card-text" th:if="${product.discountPercent > 0}">
                <span class="text-danger h5">$ [[${product.discountPrice}]]</span>
                <del><span>$ [[${product.price}]]</span></del>
            </p>
        </div>
    </div>
</div>
</body>
</html>