<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Categories | <span th:text="${pageTitle}"></span></h2>
        <form class="m-auto" enctype="multipart/form-data" id="formCategory" method="post" style="max-width: 750px"
              th:action="@{/categories/save}" th:object="${category}">
            <input th:field="*{id}" type="hidden">
            <div class="border border-success rounded p-3">
                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Name:</div>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="45" minlength="2"
                               required th:field="*{name}" type="text">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Alias:</div>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="45" minlength="2"
                               required th:field="*{alias}" type="text">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Parent:</div>
                    <div class="col-sm-8">
                        <select class="form-select" th:field="*{parent}">
                            <option value="0">[No Parent]</option>
                            <th:block th:each="category:${categories}">
                                <option th:text="${category.name}" th:value="${category.id}">
                                </option>
                            </th:block>
                        </select>

                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Enabled:</div>
                    <div class="col-sm-8">
                        <input class="form-check" th:field="*{enabled}" type="checkbox"/>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label">Image:</div>
                    <div class="col-sm-8">
                        <input th:field="*{image}" type="hidden">
                        <input accept="image/png, image/jpg" class="form-file" id="fileImage" name="fileImage"
                               type="file"/>
                        <img alt="Image preview" class="img-fluid" id="thumbnail" th:src="@{${category.imagePath}}"/>
                    </div>
                </div>


                <div class="text-center mt-4">
                    <button class="btn btn-primary m-3" id="btnSubmit" type="submit">Save</button>
                    <button class="btn btn-secondary" id="btnCancel" type="button">Cancel</button>
                </div>
            </div>
        </form>
        <div th:replace="partial/modal :: modal_form"></div>
    </div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
<script>
    const MAX_FILE_SIZE = 1024 * 1024;
    const moduleURL = '[[@{/categories}]]';
    $(function () {
        $("#name").keyup(function () {
            const name = $("#name").val().toLowerCase();
            $("#alias").val(name.replace(/\s+/g, "-"));
        });

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            const form = $("#formCategory")[0];
            if (form.checkValidity()) {
                const params = {
                    id: $("#id").val(),
                    name: $("#name").val(),
                    alias: $("#alias").val()
                }
                $.post(`${moduleURL}/check_duplicate`, params)
                    .done(function (data) {
                        if (data === 'OK') {
                            form.submit();
                        } else if (data === 'DuplicateName') {
                            showModal('Warning', `There are another category with name ${params.name}`);
                        } else if (data === 'DuplicateAlias') {
                            showModal('Warning', `There are another category with alias ${params.alias}`);
                        } else {
                            showModal('Error', 'There are an error when checking duplicate');
                        }
                    })
                    .fail(function (e) {
                        showModal('Error', 'Service unavailable');
                        console.log(e);
                    });
            } else {
                form.reportValidity();
            }
        });
    })
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>