<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Categories - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Category</h2>
        <th:block th:replace="fragments::export"/>
        <th:block th:replace="partial/messages::messages"/>
        <th:block th:replace="partial/form::form_search"/>
        <div class="full-details">
            <table class="table table-responsive-xl table-hover table-bordered table-striped">
                <thead class="table-dark text-center">
                <th>ID</th>
                <th>Image</th>
                <th th:replace="fragments :: column_link('name', 'Name', false) "></th>
                <th class="hideable-column">Alias</th>
                <th>Enabled</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr th:each="category:${categories}">
                    <td class="text-center">[[${category.id}]]</td>
                    <td class="text-center">
                        <i class="fa fa-folder fa-2x" th:unless="${category.image}"></i>
                        <img class="img-fluid" style="width: 100px" th:alt="${category.image}" th:if="${category.image}"
                             th:src="@{${category.imagePath}}">
                    </td>
                    <td>[[${category.name}]]</td>
                    <td class="hideable-column">[[${category.alias}]]</td>
                    <td class="text-center">
                        <a th:replace="fragments::status(${category.id}, 'category', ${category.enabled})"></a>
                    </td>
                    <td class="text-center">
                        <a th:replace="fragments::edit(${category.id}, 'category')"></a>
                        <a th:replace="fragments::delete(${category.id}, 'category', ${!category.hasChildren})"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="less-details">
            <div class="row mb-3" th:each="category:${categories}">
                <div class="col-4">
                    <i class="fa fa-folder fa-2x" th:unless="${category.image}"></i>
                    <img class="img-fluid" style="width: 100px" th:alt="${category.image}" th:if="${category.image}"
                         th:src="@{${category.imagePath}}">
                </div>
                <div class="col-8">
                    <div>
                        <h3>[[${category.name}]]</h3>
                    </div>
                    <div>
                        <i>[[${category.alias}]]</i>
                    </div>
                    <div class="mt-1">
                        <a th:replace="fragments::status(${category.id}, 'category', ${category.enabled})"></a>
                        <a th:replace="fragments::edit(${category.id}, 'category')"></a>
                        <a th:replace="fragments::delete(${category.id}, 'category', ${!category.hasChildren})"></a>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${keyword != null}" class="text-center">
            <span>Search categories don't show hierarchical</span>
            <th:block th:replace="partial/pagination :: page_pagination(${module})"/>
        </div>
        <th:block th:if="${keyword == null}">
            <div th:replace="partial/pagination :: page_pagination('top-level categories')"></div>
        </th:block>
    </div>
    <div th:replace="partial/modal :: modal_confirm_delete"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
</body>
<div th:replace="partial/footer :: script"></div>
<script th:src="@{/js/common_list.js}"></script>
</html>