<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Categories - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="content">
        <h2>Manager Category</h2>
        <a class="fa fa-folder-plus fa-2x text-decoration-none text-success mx-2" th:href="@{/categories/new}"
           title="Create New Category"></a>
        <a class="fa fa-file-csv fa-2x text-decoration-none text-success mx-2" th:href="@{/categories/export/csv}"
           title="Export to CSV"></a>
        <a class="fa fa-file-excel fa-2x text-decoration-none text-success mx-2" th:href="@{/categories/export/excel}"
           title="Export to EXCEL"></a>
        <a class="fa fa-file-pdf fa-2x text-decoration-none text-success mx-2" th:href="@{/categories/export/pdf}"
           title="Export to PDF"></a>
        <div class="text-center alert alert-success alert-dismissible fade show m-2" th:if="${message}">
            <span th:text="${message}"></span>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
        <div class="text-center alert alert-danger alert-dismissible fade show m-2" th:if="${errMessage}">
            <span th:text="${errMessage}"></span>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
        <div>
            <form class="m-2 row g-3 align-items-center"
                  th:action="@{/categories/page/1}">
                <input name="sortField" th:value="${sortField}" type="hidden">
                <input name="sortType" th:value="${sortType}" type="hidden">
                <div class="col-auto">
                    <label class="col-form-label">Filter:</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" name="keyword" required th:value="${keyword}" type="search">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" value="Search">
                        <i class=" fa fa-search"></i>
                    </button>
                </div>
                <div class="col-auto">
                    <a th:href="@{/categories}">
                        <button class="btn btn-secondary" type="button" value="Clear">
                            <i class="fa fa-eraser"></i>
                        </button>
                    </a>
                </div>
            </form>
        </div>
        <div class="full-details">
            <table class="table table-responsive-xl table-hover table-bordered table-striped">
                <thead class="table-dark text-center">
                <th>ID</th>
                <th>Image</th>
                <th>
                    <a class="text-white text-decoration-none"
                       th:href="@{'/categories?sortField=name&sortType=' + ${sortField != 'name' ? sortType : sortTypeReverse}}"
                       title="Sort this column">Name</a>
                    <i th:class="${sortType == 'desc' ? 'fa fa-sort-down' : 'fa fa-sort-up'}"
                       th:if="${sortField == 'name'}"></i>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr th:each="category:${categories}">
                    <td class="text-center hideable-column">[[${category.id}]]</td>
                    <td class="text-center">
                        <i class="fa fa-folder fa-2x" th:unless="${category.image}"></i>
                        <img class="img-fluid" style="width: 100px" th:alt="${category.image}" th:if="${category.image}"
                             th:src="@{${category.imagePath}}">
                    </td>
                    <td>[[${category.name}]]</td>
                    <td>[[${category.alias}]]</td>
                    <td class="text-center">
                        <a class="btn btn-primary text-center" th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
                           th:if="${category.enabled}"
                           title="Disable this category"
                        >
                            <i class="fa fa-check-circle"></i>
                        </a>
                        <a class="btn btn-secondary text-center" th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
                           th:unless="${category.enabled}"
                           title="Enable this category"
                        >
                            <i class="fa fa-circle"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success text-center" th:href="@{/categories/edit/} + ${category.id}"
                           title="Edit this category">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-center link-delete"
                           th:href="@{/categories/delete/} + ${category.id}"
                           th:if="${!category.hasChildren}"
                           th:data-entity="category"
                           th:data-id="${category.id}"
                           title="Delete this category">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="less-details">
            <div class="row mb-3" th:each="category:${categories}">
                <div class="col-4">
                    <i class="fa fa-folder fa-2x" th:unless="${category.image}"></i>
                    <img class="img-fluid" style="width: 100px" th:alt="${category.image}" th:if="${category.image  }"
                         th:src="@{${category.imagePath}}">
                </div>
                <div class="col-8">
                    <div>
                        <h3>[[${category.name}]]</h3>
                    </div>
                    <div>
                        <i>[[${category.alias}]]</i>
                    </div>
                    <div class="mt-1">
                        <a class="btn btn-primary text-center" th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
                           th:if="${category.enabled}"
                           title="Disable this category"
                        >
                            <i class="fa fa-check-circle"></i>
                        </a>
                        <a class="btn btn-secondary text-center" th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
                           th:unless="${category.enabled}"
                           title="Enable this category"
                        >
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="btn btn-success text-center" th:href="@{/categories/edit/} + ${category.id}"
                           title="Edit this category">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-center link-delete"
                           th:href="@{/categories/delete/} + ${category.id}"
                           th:data-entity="category"
                           th:data-id="${category.id}"
                           th:if="${!category.hasChildren}"
                           title="Delete this category">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="m-1 text-center" th:if="${totalItems > 0}">-->
<!--            <b>Showing categories #[[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</b>-->
<!--        </div>-->
<!--        <div class="m-1 text-center" th:unless="${totalItems > 0}">-->
<!--            <b>No categories found</b>-->
<!--        </div>-->
<!--        <nav th:if="${totalPages > 0}">-->
<!--            <ul class="pagination justify-content-center flex-wrap">-->
<!--                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">-->
<!--                    <a th:replace="fragments::page_link('categories', 1, 'First')"></a>-->
<!--                </li>-->
<!--                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">-->
<!--                    <a th:replace="fragments::page_link('categories', ${currentPage - 1}, 'Previous')"></a>-->
<!--                </li>-->
<!--                <li th:class="${i == currentPage ? 'page-item active' : 'page-item' }"-->
<!--                    th:each="i:${#numbers.sequence(1, totalPages)}">-->
<!--                    <a th:replace="fragments::page_link('categories', ${i}, ${i})"></a>-->
<!--                </li>-->
<!--                <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">-->
<!--                    <a th:replace="fragments::page_link('categories', ${currentPage + 1}, 'Next')"></a>-->
<!--                </li>-->
<!--                <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">-->
<!--                    <a th:replace="fragments::page_link('categories', ${totalPages}, 'Last')"></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
    </div>
    <div th:replace="fragments :: modal_confirm_delete"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
</body>
<div th:replace="partial/footer :: script"></div>
<script th:src="@{/js/common_list.js}"></script>
</html>