<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Forgot password')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="" style="max-width: 500px; margin: 0 auto">
        <div class="text-center mt-3">
            <h2>Forgot password</h2>
            <p class="text-success" th:if="${message}">[[${message}]]</p>
            <p class="text-danger" th:if="${error}">[[${error}]]</p>
        </div>
        <form class="m-3 p-3 border border-primary rounded" method="post" th:action="@{/forgot_password}">
            <div class="text-center my-3">
                <span>We will send a reset password link to your email</span>
            </div>
            <div class="mb-3">
                <input autofocus="autofocus" class="form-control" id="email" name="email"
                       placeholder="Enter your e-mail" required type="email">
            </div>
            <div class="text-center">
                <button class="btn btn-lg btn-success" type="submit">Send</button>
            </div>
        </form>
    </div>
    <div th:replace="partial/modal :: modal_form"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>