<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="partial/header :: head('Reset password')"></head>
<body>
<div class="container-fluid">
    <div th:replace="partial/header :: menu"></div>
    <div class="row text-center m-2">
        <h2>Forgot Password</h2>
        <h4>Your reset password link is invalid</h4>
    </div>
    <div th:replace="partial/modal :: modal_form"></div>
    <div th:replace="partial/footer :: footer"></div>
</div>
<div th:replace="partial/footer :: script"></div>
</body>
</html>