<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div class="modal-header">
    <h5 class="modal-title" id="modalTitle">Product details</h5>
    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-target="#general" data-bs-toggle="tab" role="tab"
                    type="button">General
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-target="#address" data-bs-toggle="tab" role="tab"
                    type="button">Address
            </button>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content p-3">
        <div class="tab-pane active" id="general" role="tabpanel">
            <div th:replace="customer/customer_general_readonly :: content"></div>
        </div>
        <div class="tab-pane" id="address" role="tabpanel">
            <div th:replace="customer/customer_address_readonly :: content"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
</div>
</body>
</html>