<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org">
<head th:fragment="head(title)" th:remove="${remove}">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="menu">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img alt="Logo" th:src="@{/images/ShopmeAdminSmall.png}"/>
        </a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" th:href="@{/users}">
                        <span>Users</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="dropdown-item" th:href="@{/users/new}">Create New</a>
                        <a class="dropdown-item" th:href="@{/users}">View All</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                       th:href="@{/categories}">
                        <span>Categories</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="dropdown-item" th:href="@{/categories/new}">Create New</a>
                        <a class="dropdown-item" th:href="@{/categories}">View All</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" th:href="@{/brands}">
                        <span>Brands</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="dropdown-item" th:href="@{/brands/new}">Create New</a>
                        <a class="dropdown-item" th:href="@{/brands}">View All</a>
                    </div>
                </li>
                <li class="nav-item dropdown"
                    sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" th:href="@{/products}">
                        <span>Products</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="dropdown-item" sec:authorize="hasAnyAuthority('Admin', 'Editor')"
                           th:href="@{/products/new}">Create New</a>
                        <a class="dropdown-item" th:href="@{/products}">View All</a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link" th:href="@{/customers}">Customers</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link" th:href="@{/report}">Sales Report</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link" th:href="@{/articles}">Articles</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link" th:href="@{/menus}">Menus</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" th:href="@{/settings}">
                        <span>Settings</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="dropdown-item" th:href="@{/settings#general}">General</a>
                        <a class="dropdown-item" th:href="@{/settings#countries}">Countries</a>
                        <a class="dropdown-item" th:href="@{/settings#states}">States</a>
                        <a class="dropdown-item" th:href="@{/settings#mailServer}">Mail Server</a>
                        <a class="dropdown-item" th:href="@{/settings#mailTemplates}">Mail Templates</a>
                        <a class="dropdown-item" th:href="@{/settings#payment}">Payment</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                        <i class="fa fa-user"></i>
                        <span sec:authentication="principal.fullName"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="dropdown-item" th:href="@{/account}">Account</a>
                        <a class="dropdown-item" href="" id="logoutLink">Logout</a>
                    </div>
                    <form hidden id="formLogout" method="post" th:action="@{/logout}">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>