<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org">
<head th:fragment="head(title)" th:remove="${remove}">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>[[${title}]] - [[${SITE_NAME}]]</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="row" th:fragment="search_nav">
    <div class="col-md">
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="collapse navbar-collapse" id="searchNavbar">
                <form class="form-inline" method="get" th:action="@{/search}">
                    <input class="form-control mr-sm-2" name="keyword" placeholder="keyword"
                           required
                           th:value="${keyword}" type="search"/>
                    <input class="btn btn-outline-success" type="submit" value="Search"/>
                </form>
            </div>
        </nav>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="menu">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img height="50px" th:src="@{${SITE_LOGO}}"/>
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Shipping &amp; Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                            <strong sec:authentication="principal.fullName">Name</strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="dropdown-item" th:href="@{/account_details}">Details</a>
                            <a class="dropdown-item" href="">Addresses</a>
                            <a class="dropdown-item" href="">Questions</a>
                            <a class="dropdown-item" href="">Reviews</a>
                            <a class="dropdown-item" href="">Orders</a>
                            <a class="dropdown-item" href="">Carts</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: document.forms.formLogout.submit()">Logout</a>
                    </li>
                    <form hidden id="formLogout" method="post" th:action="@{/logout}">
                    </form>
                </th:block>
            </ul>
            <form class="d-flex" th:action="@{/search}">
                <input aria-label="Search" class="form-control me-2" name="keyword" placeholder="Search a product"
                       required th:value="${keyword}" type="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>