<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div class="modal fade text-center" id="modalDialog" th:fragment="modal_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center" id="deleteConfirmation" th:fragment="modal_confirm_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p id="confirmText">Do you want to delete</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="#" id="confirmYes" type="button">Yes</a>
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>